opencv_enebular-line.json
[
    {
        "id": "35c052b8.83ae3e",
        "type": "http in",
        "z": "cdf81866.0958f8",
        "name": "",
        "url": "/line",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "6da9bcae.363884",
                "769a875b.d51898"
            ]
        ]
    },
    {
        "id": "6da9bcae.363884",
        "type": "http response",
        "z": "cdf81866.0958f8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 303.33333587646484,
        "y": 380,
        "wires": []
    },
    {
        "id": "d767eab.3202b18",
        "type": "function",
        "z": "cdf81866.0958f8",
        "name": "不審者発見",
        "func": "var post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"Channel Access Token\"\n    },\n    \"payload\": {\n        \"to\": \"UserId\",\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": \"カメラの前に誰かいます確認して、怪しければ「はい」怪しくなければ「いいえ」を返信してくださいhttp://999.999.999.999:8080/stream.html\"\n            }\n        ]\n    }\n};\n\nreturn post_request;",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "632eace.d3fe554"
            ]
        ]
    },
    {
        "id": "632eace.d3fe554",
        "type": "http request",
        "z": "cdf81866.0958f8",
        "name": "Push Message",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.line.me/v2/bot/message/push",
        "tls": "",
        "x": 540,
        "y": 160,
        "wires": [
            [
                "dd0dd9ac.b582f8"
            ]
        ]
    },
    {
        "id": "dd0dd9ac.b582f8",
        "type": "debug",
        "z": "cdf81866.0958f8",
        "name": "",
        "active": true,
        "console": false,
        "complete": "false",
        "x": 750,
        "y": 160,
        "wires": []
    },
    {
        "id": "769a875b.d51898",
        "type": "switch",
        "z": "cdf81866.0958f8",
        "name": "",
        "property": "payload.events[0].message.text",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "はい",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "いいえ",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 310,
        "y": 280,
        "wires": [
            [
                "8cb2824e.be605"
            ],
            [
                "f369f012.8fa67"
            ]
        ]
    },
    {
        "id": "8cb2824e.be605",
        "type": "function",
        "z": "cdf81866.0958f8",
        "name": "不審者だったとき",
        "func": "var post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"Channel Access Token\"\n    },\n    \"payload\": {\n        \"to\": \"UserID\",\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": \"怪しい人を撃退します\"\n            }\n        ]\n    }\n};\n\nreturn post_request;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 260,
        "wires": [
            [
                "a12f11be.47895",
                "f814d817.a52ca8"
            ]
        ]
    },
    {
        "id": "f369f012.8fa67",
        "type": "function",
        "z": "cdf81866.0958f8",
        "name": "不審者ではなかったとき",
        "func": "var post_request = {\n    \"headers\": {\n        \"content-type\": \"application/json; charset=UTF-8\",\n        \"Authorization\": \" Bearer \" + \"Channel Access Token\"\n    },\n    \"payload\": {\n        \"to\": \"UserID\",\n        \"messages\": [\n            {\n                \"type\": \"text\",\n                \"text\": \"怪しい人ではなさそうなのでそのままにします\"\n            }\n        ]\n    }\n};\n\nreturn post_request;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "a12f11be.47895"
            ]
        ]
    },
    {
        "id": "a12f11be.47895",
        "type": "http request",
        "z": "cdf81866.0958f8",
        "name": "Push Message",
        "method": "POST",
        "ret": "txt",
        "url": "https://api.line.me/v2/bot/message/push",
        "tls": "",
        "x": 800,
        "y": 340,
        "wires": [
            [
                "935a1782.a66428"
            ]
        ]
    },
    {
        "id": "935a1782.a66428",
        "type": "debug",
        "z": "cdf81866.0958f8",
        "name": "",
        "active": true,
        "console": false,
        "complete": "false",
        "x": 990,
        "y": 340,
        "wires": []
    },
    {
        "id": "608016a6.8992e8",
        "type": "mqtt in",
        "z": "cdf81866.0958f8",
        "name": "",
        "topic": "perception",
        "qos": "2",
        "broker": "",
        "x": 160,
        "y": 160,
        "wires": [
            [
                "d767eab.3202b18"
            ]
        ]
    },
    {
        "id": "f814d817.a52ca8",
        "type": "mqtt out",
        "z": "cdf81866.0958f8",
        "name": "atack",
        "topic": "atack",
        "qos": "",
        "retain": "",
        "broker": "",
        "x": 810,
        "y": 260,
        "wires": []
    },
    {
        "id": "1c0c410a.157b4f",
        "type": "comment",
        "z": "cdf81866.0958f8",
        "name": "人を検知",
        "info": "ラズパイ側で人を検知したら\n受信する",
        "x": 140,
        "y": 100,
        "wires": []
    },
    {
        "id": "40054548.fb576c",
        "type": "comment",
        "z": "cdf81866.0958f8",
        "name": "lineの受信",
        "info": "ユーザーによる人の判別を受信して\n「はい」だったら排除するための行動\n「いいえ」の時は何もしない",
        "x": 120,
        "y": 240,
        "wires": []
    },
    {
        "id": "58e03a0a.794074",
        "type": "comment",
        "z": "cdf81866.0958f8",
        "name": "functionの中のChannel Access TokenとUserIDを書き換える",
        "info": "functionノードの中はLINE送信用のペイロードを作成する\n\nユーザー認証のためChannel Access TokenとUserIDを書き換える必要がある",
        "x": 533.3333358764648,
        "y": 220,
        "wires": []
    }
]
