raspi_nodered_opencv.json
[
    {
        "id": "ccf9b9b4.d82c08",
        "type": "tab",
        "label": "opencv_noncoding_security",
        "disabled": false,
        "info": ""
    },
    {
        "id": "73fd7161.ed881",
        "type": "opencv",
        "z": "ccf9b9b4.d82c08",
        "detect": "FACE_CASCADE",
        "output": "json",
        "name": "",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "1adb56ca.5dcd19",
                "c08d0462.ebdb18"
            ]
        ]
    },
    {
        "id": "d9a4ca2.ea2c938",
        "type": "inject",
        "z": "ccf9b9b4.d82c08",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "c08d0462.ebdb18"
            ]
        ]
    },
    {
        "id": "1adb56ca.5dcd19",
        "type": "switch",
        "z": "ccf9b9b4.d82c08",
        "name": "",
        "property": "payload.0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "efca3ff1.26923"
            ],
            [
                "ae6a4cb7.48542"
            ]
        ]
    },
    {
        "id": "efca3ff1.26923",
        "type": "template",
        "z": "ccf9b9b4.d82c08",
        "name": "発見",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "yes",
        "output": "str",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "64166cbc.0ef384",
                "fd758c49.754ba"
            ]
        ]
    },
    {
        "id": "ae6a4cb7.48542",
        "type": "template",
        "z": "ccf9b9b4.d82c08",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "no",
        "output": "str",
        "x": 660,
        "y": 340,
        "wires": [
            [
                "e62ba0d2.b154c"
            ]
        ]
    },
    {
        "id": "c08d0462.ebdb18",
        "type": "camerapi-takephoto",
        "z": "ccf9b9b4.d82c08",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "73fd7161.ed881"
            ]
        ]
    },
    {
        "id": "f922f0cc.445b8",
        "type": "play_audio_file",
        "z": "ccf9b9b4.d82c08",
        "filename": "/path/to/filename",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "5fb1043c.c2fdfc"
            ]
        ]
    },
    {
        "id": "64166cbc.0ef384",
        "type": "mqtt out",
        "z": "ccf9b9b4.d82c08",
        "name": "",
        "topic": "perception",
        "qos": "",
        "retain": "",
        "broker": "2e9cf020.3a593",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "48b499ab.b7e218",
        "type": "mqtt in",
        "z": "ccf9b9b4.d82c08",
        "name": "atack",
        "topic": "atack",
        "qos": "2",
        "datatype": "auto",
        "broker": "2e9cf020.3a593",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "f922f0cc.445b8"
            ]
        ]
    },
    {
        "id": "abd92b0f.4bb788",
        "type": "comment",
        "z": "ccf9b9b4.d82c08",
        "name": "人の検知",
        "info": "カメラで単位時間で写真を撮影してバイナリでopenCV\nopenCVで人の顔を検知したらラインを送信するために\nenebularにMQTTをパブリッシュする\n",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "7215ab23.7eba84",
        "type": "comment",
        "z": "ccf9b9b4.d82c08",
        "name": "排除行動",
        "info": "排除の指示を受信したら音で威嚇する\nスピーカーのフローを動かすためには\nノードの他にそのためのプログラムを\nダウンロードする必要がある",
        "x": 100,
        "y": 400,
        "wires": []
    },
    {
        "id": "fd758c49.754ba",
        "type": "debug",
        "z": "ccf9b9b4.d82c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "e62ba0d2.b154c",
        "type": "debug",
        "z": "ccf9b9b4.d82c08",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "5fb1043c.c2fdfc",
        "type": "speaker out",
        "z": "ccf9b9b4.d82c08",
        "name": "Speaker Out",
        "channels": "2",
        "bitDepth": "16",
        "sampleRate": "11025",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "cb170cda.ab62e",
        "type": "inject",
        "z": "ccf9b9b4.d82c08",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 140,
        "y": 380,
        "wires": [
            [
                "f922f0cc.445b8"
            ]
        ]
    },
    {
        "id": "2e9cf020.3a593",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
