raspi_nodered_opencv
[
    {
        "id": "9da9cc94.ae51",
        "type": "tab",
        "label": "opencv_noncoding_security",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ddfa06b8.026848",
        "type": "opencv",
        "z": "9da9cc94.ae51",
        "detect": "FACE_CASCADE",
        "output": "json",
        "name": "",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "202de32c.6d039c",
                "61bd004c.fee4c"
            ]
        ]
    },
    {
        "id": "681127b7.3adc18",
        "type": "inject",
        "z": "9da9cc94.ae51",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 260,
        "wires": [
            [
                "61bd004c.fee4c"
            ]
        ]
    },
    {
        "id": "202de32c.6d039c",
        "type": "switch",
        "z": "9da9cc94.ae51",
        "name": "",
        "property": "payload.0",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            },
            {
                "t": "null"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 490,
        "y": 320,
        "wires": [
            [
                "86c76030.2c16f"
            ],
            [
                "c3af4be5.391e78"
            ]
        ]
    },
    {
        "id": "86c76030.2c16f",
        "type": "template",
        "z": "9da9cc94.ae51",
        "name": "発見",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "yes",
        "output": "str",
        "x": 670,
        "y": 280,
        "wires": [
            [
                "5d72a49f.65941c",
                "eb833df8.575b8"
            ]
        ]
    },
    {
        "id": "c3af4be5.391e78",
        "type": "template",
        "z": "9da9cc94.ae51",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "no",
        "output": "str",
        "x": 660,
        "y": 340,
        "wires": [
            [
                "f87e78aa.79a6b8"
            ]
        ]
    },
    {
        "id": "883898cf.ca4858",
        "type": "speaker out",
        "z": "9da9cc94.ae51",
        "name": "Speaker Out",
        "channels": "2",
        "bitDepth": "16",
        "sampleRate": "11025",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "61bd004c.fee4c",
        "type": "camerapi-takephoto",
        "z": "9da9cc94.ae51",
        "filemode": "0",
        "filename": "",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 340,
        "y": 260,
        "wires": [
            [
                "ddfa06b8.026848"
            ]
        ]
    },
    {
        "id": "dc3f6901.fbaf78",
        "type": "play_audio_file",
        "z": "9da9cc94.ae51",
        "filename": "/path/to/filename",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "883898cf.ca4858"
            ]
        ]
    },
    {
        "id": "5d72a49f.65941c",
        "type": "mqtt out",
        "z": "9da9cc94.ae51",
        "name": "",
        "topic": "perception",
        "qos": "",
        "retain": "",
        "broker": "811a35e4.342f18",
        "x": 830,
        "y": 280,
        "wires": []
    },
    {
        "id": "4ba32eb6.5a72d",
        "type": "mqtt in",
        "z": "9da9cc94.ae51",
        "name": "atack",
        "topic": "atack",
        "qos": "2",
        "datatype": "auto",
        "broker": "811a35e4.342f18",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "dc3f6901.fbaf78"
            ]
        ]
    },
    {
        "id": "5966f3a.a32da0c",
        "type": "comment",
        "z": "9da9cc94.ae51",
        "name": "人の検知",
        "info": "カメラで単位時間で写真を撮影してバイナリでopenCV\nopenCVで人の顔を検知したらラインを送信するために\nenebularにMQTTをパブリッシュする\n",
        "x": 80,
        "y": 220,
        "wires": []
    },
    {
        "id": "c1191f33.e72c4",
        "type": "comment",
        "z": "9da9cc94.ae51",
        "name": "排除行動",
        "info": "排除の指示を受信したら音で威嚇する\nスピーカーのフローを動かすためには\nノードの他にそのためのプログラムを\nダウンロードする必要がある",
        "x": 100,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb833df8.575b8",
        "type": "debug",
        "z": "9da9cc94.ae51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "f87e78aa.79a6b8",
        "type": "debug",
        "z": "9da9cc94.ae51",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "811a35e4.342f18",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "13.230.150.65",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]
